@import url('https://fonts.googleapis.com/css?family=Raleway');

.center {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    height: 98%;
    width: 98%;
}

.card {
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px #afafaf;
    border-radius: 15px;
    padding: 0.8rem;
    width: 60vh;
    margin-left: 36%;
    margin-top: 6%;
}

.card > form {
    display: flex;
    flex-direction: column;
}

.card h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 3vh;
}

.form-item {
    font-family: 'Raleway', sans-serif;
    padding: 0.5vh;
    margin-bottom: 2rem;
    height: 6vh;
    width: 16rem;
    margin-left: 3vh;
}

.form-submit {
    font-family: 'Raleway', sans-serif;
    height: 8vh;
    color: black;
    border: none;
    letter-spacing: 0.2rem;
    transition: 0.3s opacity ease;
    cursor: pointer;
    width: 25vh;
    margin-left: 7vw;
}

.form-submit:hover {
    opacity: 0.6;
}
