@import url('https://fonts.googleapis.com/css?family=Raleway');

.center {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    height: 98%;
    width: 98%;
}

.card {
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px #afafaf;
    border-radius: 15px;
    padding: 0.8rem;
    width: 60vh;
    margin-left: 36%;
    margin-top: 8%;
}

.card > form {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

.card h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 3vh;
    font-size: 25px;
}

.form-item {
    font-family: 'Raleway', sans-serif;
    padding-left: 2vw;
    box-shadow: 0px 0px 10px 0px #afafaf;
    margin-bottom: 3.5vh;
    border: 0;
    height: 7vh;
    width: 91%;
    background: #e1e6e5;
    margin-left: 0.7vh;
    opacity: 0.7;
}

.form-submit {
    font-family: 'Raleway', sans-serif;
    height: 6vh;
    color: black;
    border: none;
    letter-spacing: 0.2rem;
    transition: 0.3s opacity ease;
    box-shadow: 0px 0px 10px 0px #afafaf;
    cursor: pointer;
    width: 40%;
    margin-left: 30%;
}

.error {
    margin-bottom: 3vh;
    margin-top: 0vh;
    color: red;
    margin-left: 2vw;
}

.form-submit:hover {
    opacity: 0.6;
}

.signupLink {
    text-align: center;
    margin-top: 8vh;
    font-size: smaller;
}
