.navbar {
    background: #3a6bd6;
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    color: #ebebf0;
    text-align: center;
    font-size: 4vh;
}

.sidebar-block {
    position: absolute;
    margin: auto;
    width: 20vw;
    height: 100%;
    box-shadow: 0px 0px 10px #afafaf;
    padding-top: 5vh;
    text-align: center;
}

.sidebar-tabs {
    background: #3a6bd6;
    opacity: 0.7;
    border-radius: 15vh;
    height: 6vh;
    position: relative;
}

.sidebar-tabs p {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0px;
    padding-left: 5vh;
    font-size: 3vh;
    color: white;
}